NEXT_PUBLIC_SUPABASE_URL=https://tzkocaucqtmmnrttxira.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6a29jYXVjcXRtbW5ydHR4aXJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4NDQzMTMsImV4cCI6MjA5ODQyMDMxM30.FnRbfsz_HXHlPC8T_3oGsOJ1Doj9sbL0nXFbrhl5BjU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6a29jYXVjcXRtbW5ydHR4aXJhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjg0NDMxMywiZXhwIjoyMDk4NDIwMzEzfQ.FY8sqYUQYU4yGbjWhC05QBmoScXd3j9CoiQzGl4Imk4

GINGR_SUBDOMAIN=fitdog
GINGR_API_KEY=771b5f58dd7840539f9c3cc25b65c8d9
GINGR_WEBHOOK_SIGNATURE_KEY=716745284569476b36452d496a6b7327
GINGR_LOCATION_ID=1
GINGR_SYNC_SECRET=9bff803e121b54ed4dd23982feb02e3953dd23287c7574e3f19001b3105edaca
ADMIN_PASSWORD=Ls2139131391
